<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
              integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
              crossorigin="anonymous">

        <title>Cadastro</title>
    </head>
    <body>
        <br><br>

    <div class="container d-flex justify-content-center" >
        <div class="row ">
            <div class="col-md-12 col-md-offset-3">

                <div th:if="${param.success}">
                    <div class="alert alert-info">Cadastro efetuado com sucesso!</div>
                </div>

                <h1>Cadastro de Usuários</h1>
                <form th:action="@{/usuario/cadastro}" th:object="${usuario}" method="post">
                    <div class="row p-3">
                        <label for="nome" class="control-label  col-md-2">Nome: </label> <input
                            id="nome" class="form-control  col-md-10 " th:field="*{nome}" />

                    </div>

                    <div class="row p-3">
                        <label th:for="tipo" class="control-label col-md-2">Tipo:</label>
                        <div class="form-check form-check-inline"> 
                            <input id="check1" type="checkbox" class="form-check-input" th:field="*{tipo}" name="tipo" value="ROLE_USER">
                            <label class="form-check-label" for="check1">USER</label>
                        </div>
                        <div class="form-check form-check-inline"> 
                            <input id="check2" type="checkbox" class="form-check-input" th:field="*{tipo}" name="tipo" value="ROLE_ADMIN">
                            <label class="form-check-label" for="check2">ADMIN</label>
                        </div>
                    </div>
                    
                    <div class="row p-3">
                        <label for="login" class="control-label col-md-2">Login</label> <input
                            id="login" class="form-control col-md-10" th:field="*{login}" />
                    </div>

                    <div class="row p-3">
                        <label for="senha" class="control-label col-md-2">Senha</label> <input
                            id="senha" class="form-control col-md-10" type="password"
                            th:field="*{senha}" />
                    </div>

                    <div class="row p-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary ">Cadastrar</button>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <span>Já é cadastrado? <a href="/" th:href="@{/login}">Faça login aqui</a></span>
                    </div>

                </form>
            </div>
        </div>
    </div>

</body>
</html>